@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quark-Bold';
  src: url(../resource/fonts/Quark-LightBold/Quark-Bold.otf) format('opentype');
}

.text-pea-primary {
  color: #6a1b9a;
}

.border-color-pea-pink {
  border-color: #ff5487;
}

.border-color-pea-primary {
  border-color: #6a1b9a;
}

.border-color-pea-yellow {
  border-color: #b7791f;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.w-noti {
  width: 411px;
}

.swal-modal {
  width: 650px;
}

.swal-button--confirm {
  background-color: #6a1b9a;
  color: #fff;
}

.swal-button--confirm:hover {
  background-color: #4a148c;
}

.swal-title {
  color: #2c3e50;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 0px;
  border-left-width: 4px;
  border-left-color: #b7791f;
}


