<template>
  <div>
    <router-view>
    </router-view>
  </div>
</template>
<script>
export default {
  mounted() {
    window.czpSdk.init().then(() => { this.$router.push({ path: '/home' }); });
  },
};
</script>
