body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'DBOzone';
    font-weight: 100;
    src: url(./resource/fonts/DBOzone/DB-ChuanPim-X-Thin.ttf) format('truetype');
  }
  @font-face {
    font-family: 'DBOzone';
    font-weight: 200;
    src: url(./resource/fonts/DBOzone/DB-ChuanPim-X-Thin.ttf) format('truetype');
  }
  @font-face {
    font-family: 'DBOzone';
    font-weight: 300;
    src: url(./resource/fonts/DBOzone/DB-ChuanPim-X-Thin.ttf) format('truetype');
  }
  @font-face {
    font-family: 'DBOzone';
    font-weight: 400;
    src: url(./resource/fonts/DBOzone/DB-ChuanPim-X-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'DBOzone';
    font-weight: 500;
    src: url(./resource/fonts/DBOzone/DB-ChuanPim-X-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'DBOzone';
    font-weight: 600;
    src: url(./resource/fonts/DBOzone/DB-ChuanPim-X-Semi-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'DBOzone';
    font-weight: 700;
    src: url(./resource/fonts/DBOzone/DB-ChuanPim-X-Semi-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'DBOzone';
    font-weight: 800;
    src: url(./resource/fonts/DBOzone/DB-ChuanPim-X-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'DBOzone';
    font-weight: 900;
    src: url(./resource/fonts/DBOzone/DB-ChuanPim-X-Bold.ttf) format('truetype');
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}