<template>
  <div id="app" class="m-2 ">
    <loading :active.sync="this.$store.state.isLoading"
        :can-cancel="true"></loading>
    <div class="text-gray-500 mt-5">
      <h1 class="font-bold text-gray-800 text-2xl">ข้อมูลผู้เข้าสอบ</h1>
      <div  v-if="this.$store.state.errors.length" class="alert alert-danger">
        <ul id="error-message">
          <li v-for="error in this.$store.state.errors" :key="error">
            {{ error }}
          </li>
        </ul>
      </div>
      <p class="text-base mt-2">
        ชื่อ : {{this.$store.state.studentInfo['FNAME']}}
        {{this.$store.state.studentInfo['LNAME']}}</p>
      <p class="text-base">
        เลขประจำตัวประชาชน : {{getData().CitizenId}}</p>
      <p class="text-base">
        โรงเรียน : {{this.$store.state.studentInfo['SCH_NAME']}}</p>
      <p class="text-base">
        จังหวัด : {{this.$store.state.studentInfo['PROV_NAME']}}</p>
      <p class="text-base">
        สังกัด : {{this.$store.state.studentInfo['BUREA_NAME']}}</p>
      <h1 class="font-bold text-gray-800 text-2xl mt-4">รายการสมัครสอบของคุณ</h1>
    </div>
    <div class="flex flex-row mt-2">
      <div class="w-1/3 ml-2 mr-2">
      <router-link to="/verify/ONET"  tag="button" :disabled="this.$store.state.errors.length > 0">
        <img
          class="bg-gray-400 p-5 rounded-lg"
          src="../assets/ruler.png"
          alt=""
        >
      </router-link>
        <div class="text-center">
          <p class="text-gray-900">O-NET</p>
        </div>
      </div>
      <div class="w-1/3 ml-2 mr-2">
      <router-link to="/verify/GPS" tag="button" :disabled="this.$store.state.errors.length > 0">
        <img
          class="bg-gray-400 p-5 rounded-lg"
          src="../assets/ruler.png"
          alt=""
        >
      </router-link>
        <div class="text-center">
          <p class="text-gray-900">GAT / PAT</p>
        </div>
      </div>
      <div class="w-1/3 ml-2 mr-2">
      <router-link to="/verify/AMS" tag="button" :disabled="this.$store.state.errors.length > 0">
        <img
          class="bg-gray-400 p-5 rounded-lg"
          src="../assets/flask.png"
          alt=""
        >
      </router-link>
        <div class="text-center">
          <p class="text-gray-900">9 วิชาสามัญ</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  data() {
    return {
    };
  },
  created() {
    this.$store.dispatch('retrieveToken');
    this.getData();
    this.setTitle();
  },
  components: {
    Loading,
  },
  methods: {
    getAppId() {
      const appId = window.czpSdk.getAppId();
      return !appId ? '' : appId;
    },
    getToken() {
      const token = window.czpSdk.getAccessToken();
      return !token ? '' : token;
    },
    getData() {
      const data = window.czpSdk.getData();
      return !data ? '' : data;
    },
    setTitle() {
      console.log('หนังสือรับรองผลฯ');
      window.czpSdk.setTitle('หนังสือรับรองผลฯ', false);
    },
  },
};
</script>
<style>
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 1rem;
}
</style>
