<template>
  <div id="app" class="landing">
    <div class="flex justify-center mt-8">
      <img src="../assets/niets-logo.png" alt />
    </div>
    <div class="flex flex-col items-center mt-10">
      <h1 id="font" class="text-xl">สถาบันทดสอบทางการศึกษาแห่งชาติ</h1>
      <img class="w-45" src="../assets/ld-b.gif" alt />
    </div>
  </div>
</template>

<script>
export default {
  created() {
    // setTimeout(() => this.$router.push({ path: '/home' }), 1000);
    // this.$store.dispatch('retrieveToken');
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
#app {
  font-family: "Kanit", sans-serif;
}
.landing {
  text-align: center;
  margin: 0 0.5rem;
}
</style>
