<template>
  <div id="app" class="flex flex-col">
    <div class="flex flex-row m-2 ">
      <div class="w-1/4">
        <router-link
          to="/"
          class="flex flex-row"
        >
          <i class="fas fa-chevron-left text-3xl"></i>
          <h1 class="text-2xl ml-2">Back</h1>
        </router-link>
      </div>
      <div class="w-2/3 ml-2">
        <h1 class="font-bold text-gray-800 text-2xl">คะแนนสอบของฉัน</h1>
      </div>
    </div>

    <iframe
      src="http://escore.niets.or.th/escore/Default.aspx"
      frameborder="0"
      class="w-full h-screen"
    ></iframe>

  </div>
</template>
<style>
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
#app {
  font-family: "Kanit", sans-serif;
  height: 100%;
}
iframe{
  height: 100%;
}
</style>
