<template>
  <div id="app">
    <div class="flex flex-row m-2">
    </div>
      <img class="w-full" src="../assets/onet-1.jpg" alt="">
      <div class="flex justify-center mt-4">
        <router-link to="/home" >
      <button class="bg-gray-400 hover:bg-blue-700 text-gray-800 font-bold py-2 px-4 rounded ">
      สมัครสอบเพิ่มเติม
    </button>
        </router-link>
      </div>
  </div>
</template>
