<template>
  <div id="app">
    <loading :active.sync="isLoading"
        :can-cancel="false"></loading>
    <div class="flex flex-row m-2"></div>
    <h1 class="ml-4 mt-5 text-xl font-bold">สอบถามผลคะแนน
      <span v-if="this.$route.params.subject == 'ONET'">O-NET</span>
      <span v-else-if="this.$route.params.subject == 'GPS'">GAT/PAT</span>
      <span v-else-if="this.$route.params.subject == 'AMS'">9 วิชาสามัญ</span>
    </h1>
    <div  v-if="errors.length" class="alert alert-danger">
      <ul id="error-message">
        <li v-for="error in errors" :key="error">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="flex flex-col items-center">
      <div class="mt-5">
        <h1>ปีการศึกษา</h1>
        <div class="inline-block relative w-64">
          <select class="w-64 p-2 rounded bg-white" @change="clearError"
          v-model="yearSelected" name id required>
            <option value="">กรุณาเลือกปีการศึกษา</option>
            <option v-for="year in years" :value="year" :key="year">{{year}}</option>
          </select>
        </div>
      </div>
      <div class="mt-5">
        <h1>ระดับชั้น</h1>
        <div class="inline-block relative w-64">
          <select class="w-64 p-2 rounded bg-white" name id>
            <option>ม. 6</option>
          </select>
        </div>
      </div>
      <div>
        <button
          class="mt-5 w-64 bg-gray-400 flex justify-center rounded
          text-gray-800 font-bold py-2 px-4"
          @click="getReport"
          :disabled="disabled == 1"
        >ตรวจสอบ</button>
      </div>
      <!-- <div>
        <button
          class="mt-5 w-64 bg-gray-400 flex justify-center rounded
          text-gray-800 font-bold py-2 px-4"
          @click="goBack"
          :disabled="disabled == 1"
        >ย้อนกลับ</button>
      </div> -->
    </div>
  </div>
</template>
<script>

import axios from 'axios';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  data() {
    return {
      yearSelected: '',
      token: '',
      examsYear: {},
      years: [],
      errors: [],
      disabled: 0,
      isLoading: false,
      fullPage: true,
    };
  },
  created() {
    this.setTitle();
    this.renderYear();
  },
  components: {
    Loading,
  },
  methods: {
    getAppId() {
      const appId = window.czpSdk.getAppId();
      return !appId ? '' : appId;
    },
    getToken() {
      const token = window.czpSdk.getAccessToken();
      return !token ? '' : token;
    },
    getData() {
      const data = window.czpSdk.getData();
      return !data ? '' : data;
    },
    setTitle() {
      console.log('สอบถามผลคะแนน');
      window.czpSdk.setTitle('สอบถามผลคะแนน', true);
    },
    goBack() {
      return this.$router.go(-1);
    },
    renderYear() {
      const examYear = this.$store.state.examsYear[this.$route.params.subject];
      this.years = examYear === undefined ? [] : examYear.toString().split('|');
    },
    clearError() {
      this.errors = [];
    },
    async getReport() {
      this.clearError();
      this.disabled = 1;
      this.isLoading = true;
      await axios
        .get(
          `${process.env.VUE_APP_NIETS_URL}/Exams/Get${this.$route.params.subject}Report`, {
            params: {
              citizenId: window.czpSdk.getData().CitizenId,
              yearCourse: this.yearSelected,
            },
            headers: {
              'Content-Type': 'application/json',
              Token: this.$store.state.token,
            },
          },
        )
        .then((response) => {
          const b64 = response.data.ScoreReport;
          const bin = atob(b64);
          console.log('File Size:', Math.round(bin.length / 1024), 'KB');
          console.log('PDF Version:', bin.match(/^.PDF-([0-9.]+)/)[1]);

          const link = document.createElement('a');
          link.innerHTML = 'Download PDF file';
          link.download = 'scoreResult.pdf';
          link.href = `data:application/octet-stream;base64,${b64}`;
          link.click();

          this.disabled = 0;
          this.isLoading = false;
        })
        .catch((error) => {
          if (error.response.status === 400) {
            // Handle 400
            if (this.yearSelected.length <= 0) {
              this.errors.push('โปรดระบุปีการศึกษา');
            }
          } else {
            // Handle else
          }
          this.disabled = 0;
          this.isLoading = false;
        });
    },
  },
};
</script>
<style>
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 1rem;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #ffffff;
}
</style>
